/* [[file:all.org::css_file][css_file]] */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/* css_file ends here */

/* [[file:all.org::body_styling][body_styling]] */
body {
    background-color: rgb(161,100,223);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
    clear:both;
}
/* body_styling ends here */

/* [[file:all.org::btn_class_styling][btn_class_styling]] */
.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}
/* btn_class_styling ends here */

/* [[file:all.org::repeatBtn_styling][repeatBtn_styling]] */
.btn.repeatBtn{
    background-color: #444444;
    font-size: 2rem;

}
/* repeatBtn_styling ends here */

/* [[file:all.org::repeat_id_styling][repeat_id_styling]] */
#repeat {
    display: inline-block;
    position: absolute;

    width: 100vw;
    clear: both;
    top: 10px;
}
/* repeat_id_styling ends here */

/* [[file:all.org::buttons-container_styling][buttons-container_styling]] */
#buttons {
    display: block;
    overflow-y: scroll;
    height: 60%;
    width: 100vw;
    clear: both;
    justify-content: space-between;
    position: absolute;
    max-width: 100vw;
}
/* buttons-container_styling ends here */

/* [[file:all.org::check-container][check-container]] */
#check {
    display: block;
    background-color: rgb(161,100,223);
    width: 100vw;
    position: absolute;
    bottom: 30px;
}
/* check-container ends here */

/* [[file:all.org::btn_check_styling][btn_check_styling]] */
.btn.check {
    background-color: #1739dd;
    margin: 50px;
}
/* btn_check_styling ends here */

/* [[file:all.org::footer_styling][footer_styling]] */
footer {
position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 5px;
  background: yellow;
}
/* footer_styling ends here */

/* [[file:all.org::small_screen styling][small_screen styling]] */
@media(max-width: 500px){
    .btn {
        font-size: 0.8rem;
    }
}
/* small_screen styling ends here */
